{% extends 'template.html.twig' %}

{% block title %}
{{ personne.firstname }} {{ personne.name }}
{% endblock %}

{% block body %}
    <div class="alert alert-success">
        {{ personne.firstname }} {{ personne.name }} à {{ personne.age }}
    </div>
{% endblock %}
